<div class="row">
    <h2><a href="{{ news_item.link }}">{{ news_item.title }}</a></h2>
    <div class="col-lg-6">
        <h4>Avtor: {{ news_item.author }}</h4>
        <h4>Objavljeno: {{ news_item.published | date:'mediumDate' }} {{ news_item.published | date:'shortTime' }}</h4>
    </div>
    <div class="col-lg-6">
        <h4>Vir: {{ news_item.source }}</h4>
    </div>
</div>
<div class="row" ng-show="news_item.content">
    <br />
    <h4>
        Vsebina
    </h4>
    <hr>
    {{ news_item.content }}
</div>
<div class="row" ng-show="related_news">
    <br />
    <h4>
        Podobne novice
    </h4>
    <hr>
</div>
<div class="row" ng-hide="related_news || loading">
    <hr>
    <h5>
        Ni bilo najdenih podobnih novic.
    </h5>
</div>
<div class="row" data-ng-repeat="related in related_news" ng-show="related_news">
    <a href="{{related.link}}"><span ng-bind-html="related.title"></span></a> | <small>{{ related.source }};  {{ related.published | date:'mediumDate' }} {{ related.published | date:'shortTime' }}</small>
    <br />
</div>

<div class="row">
    <div class="progress progress-striped active" ng-show="loading">
            <div class="progress-bar" style="width: 100%"></div>
    </div>
</div>