<div class="row">
    <div class="col-lg-4"><div class="well text-center"><h3>Vseh novic: <br/> {{ stats.total_news }} </h3></div></div>
    <div class="col-lg-4">&nbsp;</div>
    <div class="col-lg-4"><div class="well text-center"><h3>Novic danes: <br/> {{ stats.news_today }}</h3></div></div>
</div>
<div class="row col-lg-8">
    <h3>Novice po dnevih</h3>
    <hr>
</div>
<div class="row col-lg-8" id="news-by-day" style="height: 300px; width: 100%;"></div>
<div class="row col-lg-8">
    <h3>Novice po virih</h3>
    <hr>
</div>
<div class="row col-lg-8" id="news-by-source" style="height: 300px; width: 100%;"></div>
<div class="row col-lg-8">
    <h3>Novice po virih danes</h3>
    <hr>
</div>
<div class="row col-lg-8" id="news-by-source-today" style="height: 300px; width: 100%;"></div>

